* {
    box-sizing: border-box;
}

.main {
    display: flex;

    max-width: 1948px;
    padding: 0 10px;
    margin: 0 auto;
}

.side-left {
    max-width: 320px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
    padding-left: 100px;
    padding-right: 25px;

    border: 1px solid red;

    height: 100vh;
}
.side-right {
    max-width: 420px;
    width: 100%;

    background-color: yellow;
}
.content {
    flex-grow: 1;
    background-color: white;
}

.hr {
    width: 180px;
    border: 0.5px solid #a4acad;
    margin-top: 30px;
}

.nov__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nov__item {
    margin-bottom: 30px;
}

.nov__link {
    font-family: 'Roboto', ;
}